<div class="author">
    <h1 class="author__heading">Test</h1>
    <p class="author__body">Test Phase</p>
  </div>
  
  <img src="/img/fashion-shoes-sneakers.jpg" alt="person looking out through window" class="hero-image" width="981" height="528">
  
  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
        <li>
          <a href="">
            <span></span>
            <span class="article-list__date"></span>
          </a>
        </li>
    </ul>
  
  
    
      <a href="" class="pagination">&lt; View Older Posts</a>
   
   
  
    
  
  
  
  </section>